{# context: latest_question_list #}

{% extends 'polls/base.html' %} 

{% block title %}
    Polls Index
{% endblock title %}

{% block styles %}
    <style>
        h1{
            background-color: yellow;
        }
        a{
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
    {# put body elements here #}
    <ul>
        {% for q in latest_question_list %}
            <li><a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a></li>
        {% endfor %}
    </ul>
{% endblock body %}
