h1
{
    text-align: center;
    background-color: #ffe6ff;
    color: #1aa3ff;
    font-family: 'Piazzolla', serif;
    text-shadow: 3px 2px 3px green;
    border: 1.4px dashed green;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    margin-left: 14em;
    margin-right: 14em;
}

div.FishAlbumByFlexBox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img
{
    width: 450px;
    height: 300px;
    border-radius: 2em;
    padding: 1em;
    transition: all 0.7s;
}

img:hover
{
    transform: scale(1.01);
    box-shadow: 1px 1px 2px green;
}