<!-- context: reporters_name -->

{% extends 'news/base.html' %}

{% block title %}
    Reporters of this news site
{% endblock title %}

{% block styles %}
    <style>
        body{
            background-color: whitesmoke;
        }

        h1{
            font-family: Consolas, Arial, Helvetica, sans-serif;
        }

        a{
            text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: normal;
            font-weight: 500;
            color: darkgreen;
            padding: 0.5px;
            border-bottom: 0.5px solid green;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Our Reporters:</h1>
    <ul>
        {% for name in reporters_name %}
            <li><a href="">{{ name }}</a></li>
        {% endfor %}
    </ul>
{% endblock body %}
